* {
  padding: 0;
  margin: 0;
  font-family: monospace;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  touch-action: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.body {
  background: radial-gradient(gray, black);
  min-height: 100vh;
  min-width: 100vw;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

#board {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(174, 174, 175, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100vmin;
  height: 93vmin;
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(25, 1fr);
}

#score {
  display: flex;
  position: absolute;
  top: 0;
  justify-content: space-between;
  width: 100%;
  font-size: 16px;
  /* margin: 12px; */
  padding: 12px;
  z-index: 1;
}

#scoreBox {
  color: white;
  /* position: absolute; */
  /* right: 0; */
  /* top: 0; */
  padding: 12px;
  border-bottom: 2px solid white;
  border-radius: 8px;
}

#highScoreBox {
  color: white;
  /* position: absolute; */
  /* left: 0; */
  /* bottom: 0; */
  padding: 12px;
  border-bottom: 2px solid white;
  border-radius: 8px;
}

.head {
  background: rgb(24, 24, 24);
  border: 0.25vmin solid black;
  border-radius: 50%;
  transform: scale(1.2);
  box-shadow: 0 0px 50px 2px rgba(255, 255, 255, 0.5);
}
.snake {
  background: rgb(24, 24, 24);
  border-radius: 50%;
  box-shadow: 0 0px 50px 2px rgba(255, 255, 255, 0.5);
}

.food {
  border-radius: 48px;
  border: 0.25vmin solid white;
  background: radial-gradient(white, rgb(180, 180, 180));
  box-shadow: 0 0px 32px 2px rgba(0, 0, 0, 0.5);
}

.info {
  border: 2px solid black;
  border-radius: 12px;
  display: flex;
  padding: 52px 34px;
  margin: 33px;
  font-size: 19px;
  z-index: 1;
  position: absolute;
  text-align: center;
  line-height: 2rem;
  background: rgba(128, 128, 128, 0.8);
  box-shadow: 0px 0px 32px black;
}
.gameOver {
  border: 2px solid black;
  border-radius: 12px;
  display: flex;
  padding: 52px 34px;
  margin: 33px;
  font-size: 19px;
  z-index: 1;
  position: absolute;
  text-align: center;
  line-height: 2rem;
  background: rgba(128, 128, 128, 0.8);
  box-shadow: 0px 0px 32px black;
  display: none;
}

@media only screen and (max-width: 450px) {
  #board {
    height: 73vmax;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(35, 1fr);
  }
}
